/* Main page setup */

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

*{
    box-sizing: border-box;
}

.page{
    margin: 0;
    font-family:'Bungee Inline', cursive, fantasy;
    font-size: 22px;
    height: 100%;
    color: whitesmoke;
    background-color: rgb(34, 31, 31);
    padding: 10px;
    overflow: auto;
}

/* flex container setup */

.flex-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}


/* header setup */

.header{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    background-color: rgb(229 , 9, 20);
}

.current-word-letter{
    margin-right: 5px;
}

.hidden {
    display: none;
}

#main-img{
    margin-right: 50px;
    padding: 25px;
    width: 100%;
    display: block;
}

#new-video{
    margin-right: 50px;
    padding: 25px;
    width: 100%;
}
/*btn setup */

#end-game-btn{
    width: 100px;
    height: 50px;
    font-size: 19px;
    background:whitesmoke;
    border-radius: 6px;
    font-family: 'Bungee Inline', cursive, fantasy;
    visibility: hidden;
}

#end-game-btn:hover{
    background: rgb(34, 31, 31);
    color: whitesmoke;
}

/* section setup */

#content{
    margin: 20px;
    line-height: 50px;
    border: 4px dotted whitesmoke;
    padding: 20px;
}


@media only screen and (max-width: 768px ){

    .page {
        width: 100vw;
        height: 100%;
        margin: 0 auto;
        font-size: 18px;
    }

    .flex-container{
        width: 90%;
        display: flex;
        flex-flow:column;
        width: 100%;
    }

    .header{
        text-align: center;
        width: 100%;
    }

    #main-img{
        width: 100%;
        height: 200px;
        margin: 20px auto;
        padding: 0;

    
    }

}